<h2>Uredi projekt</h2>

<form action="/projects/<%= project._id %>?_method=PUT" method="POST">

    <div class="mb-3">
        <label>Naziv</label>
        <input type="text" name="naziv" class="form-control" value="<%= project.naziv %>">
    </div>

    <div class="mb-3">
        <label>Opis</label>
        <textarea name="opis" class="form-control"><%= project.opis %></textarea>
    </div>

    <div class="mb-3">
        <label>Cijena</label>
        <input type="number" name="cijena" class="form-control" value="<%= project.cijena %>">
    </div>

    <div class="mb-3">
        <label>Obavljeni poslovi</label>
        <input type="text" name="obavljeniPoslovi" class="form-control" value="<%= project.obavljeniPoslovi %>">
    </div>

    <div class="mb-3">
        <label>Datum početka</label>
        <input type="date" name="datumPocetka" class="form-control" value="<%= project.datumPocetka.toISOString().split('T')[0] %>">
    </div>

    <div class="mb-3">
        <label>Datum završetka</label>
        <input type="date" name="datumZavrsetka" class="form-control" value="<%= project.datumZavrsetka.toISOString().split('T')[0] %>">
    </div>

    <button class="btn btn-primary">Spremi izmjene</button>
</form>
